@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: var(--white);
    /* background: black; */
}
:root{
    --M: 'Magra';
    --MB: 'MagraBold';
    --RH: 'RedHat';
    --RHI: 'RedHatItalic';
    --ALEO: 'Aleo';
    --AB: 'AleoBold';
    --ABI: 'AleoBoldItalic';
    --AI: 'AleoItalic';
    --white: #FFFFFF;
}
.header-content {
    position: relative;
    width: 1440px;
    height: 765px;
    background-image: url('../images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png');
}  
.container {
    width: 1442px;   
    margin: 0 auto;
}    
.travel-logo {
    display: flex;
}
.logo {
    width: 30px;
    height: 30px;
    margin-right: 6px;    
}
.travel-portal {    
    text-transform: capitalize;
    font-family: var(--MB);
    font-size: 32px;
    line-height: 39px;
    color: var(--white);    
}
.rectangle1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    position: absolute;
    width: 1440px;
    height: 90px;    
    top: 0px; 
}
.navigation {
    display: flex;
}
.traver-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 42px;
}
.travel-list {
    list-style: none;
   
}
.travel-list > a {
    font-family: var(--RH);
    font-size: 16px; 
    line-height: 21px;
    color: var(--white);     
    text-transform: capitalize;    
    transition: 1s;
}
.travel-list:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.login {
    font-family: var(--RH);
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
    text-transform: capitalize;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    padding: 10px 30px;
}
.preview{
    width: 892px;   
    position: absolute;    
    top: 122px;
    left: 120px;   
}
.explore {
    font-family: var(--AB);
    font-size: 80px;
    line-height: 96px;
    color: var(--white);
}
.recomendations {
    font-family: var(--AI);
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
    padding-bottom: 45px;
    padding-top: 45px;    
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    position: absolute;
    width: 892px;
    height: 95px;
    display: flex;
    align-items: center;
}
.text-from-search {
    font-size: 24px;
    line-height: 29px;
    font-family: var(--AI);
    color: #F2785C;    
    margin-left: 41px;
    background: none;
    outline: none;
    border: none;
}
::placeholder {  
    color: #F2785C; 
}
.planning-button {
    font-family: var(--RH);
    font-size: 24px;
    text-transform: capitalize;
    line-height: 31px;
    color: var(--white);
    padding: 13.5px 32px;
    background: #0D606F;    
    border-radius: 10px;
    border-color:  #0D606F;    
    margin-right: 41px;
}
.main-content{      
    margin: 0 auto;
}
.steps{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.main-content-title {
    font-family: var(--RH);
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;   
    padding-bottom: 43px; 
    padding-top: 97px;    
}
.frame27 {
    max-width: 1177px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.frame27-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  0 auto;
}
.frame27-text {
    padding-top: 30px;
    font-family: var(--ALEO);
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
.destinations{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.destinations-items {
    display: flex;
}
.destinations-img {
    width: 800px;
    height: 800px;
    background: #FFFFFF;
    border-radius: 16px;
}
.find-button {
    text-transform: capitalize;
    font-family: var(--RH);
    font-size: 24px;
    line-height: 32px;
    color: var(--white);
    background: #0D606F;    
    margin-top: 40px;
    padding: 13.5px 31px 13.5px 81px;
    border-radius: 10px;    
}
.find-button1 {
    margin-top: 40px;
    box-sizing: border-box;    
}
.vector-find-more {
    position: relative;   
    right: 200px;    
    top: 5px;
    color: var(--white);    
}
.stories {    
    width: 1442px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story-sections-items {  
    width: 1442px;        
    margin: 0 auto;  
    background: url('../images/Rectangle\ 27.svg');
    background-repeat: no-repeat;
}
.stories-bg {
    width: 1442px;    
    background: rgba(255, 255, 255, 0.7);
}
.stories-items {     
    display: flex;
    flex-direction: column;
    margin: 0 auto;      
    width: 1200px;    
    margin-bottom: 61px;
    padding-top: 40px;   
    padding-bottom: 40px;
}
.stories-item {
    display: flex;    
    align-items: center;
    padding-bottom: 30px;       
}
.see-button1 {  
    width: 228px;
    height: 59px;         
    background: #0D606F; 
    margin: 0 auto;   
    border-radius: 10px;   
    border: none;
}
.see-more {
    text-transform: capitalize;
    font-family: var(--RH);
    font-size: 24px;
    line-height: 32px;
    color: var(--white);    
    margin-left: 10px;
}
.vector-find-more2 {    
    align-items: center;
}
.story-img {       
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    width: 400px;
    height: 250px;    
}
.story-img-mobile {
    display: none;
    border-radius: 16px;
}
.story-informations {
    padding-left: 40px;
}
.story-title {
    font-family: var(--ALEO);
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    padding-bottom: 24px;
}
.story-text {
    font-family: var(--ALEO);
    font-size: 20px;
    line-height: 26px;
    color: #0D606F;
}    
.footer {
    /* position: absolute; */
    /* left: 590px;
    top: 3650px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-text{
    font-family: var(--RH);
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
}
.social-links {
    padding-left: 328px;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}
.social-icons {
    padding-left: 22px;
}
